.portfolio__page{
    background-color: #ffac79;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.portfolio__pageContainer{
    width: 90%;
    height: 630px;
    border-radius:20px;
    display: flex;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background: #74787a;
}

.portfolio__pageContainerLinks{
    margin-left: 15px;
    display: flex; 
    flex-direction: column; 
    padding: 25px;
    border-radius: 49px;
    background: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.portfolio__pageContainerLink{
    color: lightgray;
    font-size: 30px;
    margin: 10px 0px;
    cursor: pointer;
}

.portfolio__pageContainerLink:hover{
    color: #74787a;
}

@media screen and (max-width: 768px) {
    .portfolio__page{
        flex-direction: column-reverse;
    }

    .portfolio__pageContainerLinks{
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
        /* border: 1px solid red; */
        margin-bottom: 10px;
        padding: 10px;
    }
}

/* git please work */