@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');

.portfolio__summary{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    background: #04B4E0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    flex: 0.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid orange; */
    justify-content: space-between;
    color: white;
}

.portfolio__summary > div {
    margin-inline: auto;
}

.portfolio__summary > div:first-child {
    padding: 10px;
    margin-top: 80px;
}

.portfolio__summary > div:first-child > img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid red;
    padding: 2px;
}

.portfolio__summary > div:first-of-type{
    /* margin-inline: auto; */
}

.portfolio__summaryDetails {
    text-align: center;
    /* border: 1px solid pink; */
    flex: 1;
}

.portfolio__summaryDetails > h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 43.2px;
}

.portfolio__summaryDetails > p{
    font-size: 18px;
    font-weight: 300;
    line-height:21.6px;
}

.portfolio__summaryDetails > h2,
.portfolio__summaryDetails > p{
    margin-bottom: 15px;
}

.portfolio__summaryDetailIcon {
    display: flex;
    padding: 0 20px;
    justify-content: space-evenly;
    margin-top: 30px;
}

.portfolio__summaryCV{
    margin-top: 50px;
    padding: 12px 32px;
    border-radius: 50px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.portfolio__summaryCV:hover{
    background: white;
    color: #04B4E0;
    border: 2px solid #04B4E0;
}

.portfolio__summaryDetailsFooter{
    margin-bottom: 10px;
    font-size: 12px;
}