.form{
    /* border: 1px solid green; */

}

.form > h3{
    margin-top: 2rem;
}

.form > input,
.form > textarea{
    width: 50%;
    padding: 10px 0px;
    /* display: block; */
    margin: 10px 0;
    padding-left: 10px;
}


.form > button{
    background: rgb(250, 134, 250);
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    cursor: pointer;
    border: none;
}

.form > button:hover{
    background: purple;
}