.singleTodo{
    /* background: black; */
    /* color: white; */
}

.singleTodo__list{
    display: flex;
    align-items: center;
    border: 1px solid red;
    background: yellow;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
}

.singleTodo__list > p {
    margin-right: auto;
    font-size: 1.3rem;
}

.singleTodo__list > span{
    margin: 0 10px;
}