@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap');

.portfolioProjects{
    /* border: 1px solid red; */
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}

.portfolioProjects__header{
    margin-bottom: 20px;
}

/* PROJECT LINKS */
.portfolioProjects__links{
    display: flex;
    margin: 20px 0px 40px;
    /* border: 1px solid orangered; */
    width: 70%;
    justify-content: space-between;
}

.portfolioProjects__links > li{
    list-style: none;
    font-size: 13px;
    color: #666666;
    cursor: pointer;
}

.portfolioProjects__items{
    /* border: 3px solid purple; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.portfolioProjects__item{
    flex: 1 0 30%;
}

.portfolioProjects__item > .portfolioProjects__imgCover > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    /* border: 2px solid purple; */
}

.portfolioProjects__item > .portfolioProjects__imgCover > img:hover{
    transform: scale(1.1);
    transition: 0.3s all ease-in;
    background: rgba(0, 0, 0, 0.5);
}

.portfolioProjects__item .portfolioProjects__imgCover{
    border-radius: 10px;
    overflow: hidden;
}

.portfolioProjects__item > p{
    margin-top: 10px;
    font-weight: bolder;
} 

@media screen and (max-width: 900px){
    .portfolioProjects__links{
        flex-wrap: wrap;
        width: 100%;
        column-gap: 20px;
        row-gap: 10px;
    }
}

@media screen and (max-width:500px){
    .portfolioProjects{
        /* border: 1px solid green; */
    }

    .portfolioProjects__links{
        /* width: 100%; */
        /* display: none; */
    }

    .portfolioProjects__item{
        flex: 1 1 100%;
    }
}