.quizPage{
    background: whitesmoke;
    height: 100vh;
    text-align: center;
    padding-top: 20px;
}

.quizPage__start{
    padding: 10px 30px;
    margin-top: 20px;
    font-size: 1.2rem;
    border-radius: 1rem;
    background: #ecbc76;
    border: none;
    color: white;
    cursor: pointer;
}

.quizPage__score{
    font-size: 2rem;
}

.quizPage__nextQuestion{
    margin-top: 30px;
    width: 400px;
    padding: 10px 0;
    cursor: pointer;
    font-size: 1.2rem;
}

.quizPage__nextQuestion:hover{
    background: #ecbc76;
    color: white;
    border: none;
    /* transition: ; */
}


@media screen and (max-width: 500px) {
    .quizPage__nextQuestion{
        width: 350px;
    }
}