@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap');

.portfolioBlog{
    font-family: 'Poppins', sans-serif;
}

.portfolioBlog__header{
    margin-bottom: 40px;
}

.portfolioBlog__posts{
    /* border: 3px solid purple; */
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.portfolioBlog__post{
    flex: 1 1 45%;
    /* border: 4px solid red; */
    position: relative;
}

.portfolioBlog__post > p:first-of-type{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #555555;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    background: white;
    border-radius: 10px;
    padding: 5px 10px;
}

.portfolioBlog__img > img{
    width: 100%;
    border-radius: 20px;
}

/* .portfolioBlog__img > img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
} */

.portfolioBlog__img{
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}

.portfolioBlog__date{
    margin-top:15px;
    margin-bottom: 5px;
    font-size:11px;
}

p.portfolioBlog__text {
    font-size: 15px;
    color: #555;
    padding-bottom: 10px;
}

a.portfolioBlog__link{
 text-decoration: none;
 color: black;
}


@media screen and (max-width:768px){
    .portfolioBlog__post{
        flex: 1 1 100%;
    }
}