.questionCard{
    /* border: 2px dashed orange; */
    max-width: 600px;
    padding: 10px;
    margin-inline: auto;
    background: white;
    box-shadow: 0px 4px 35px rgba(0,0,0,0.08);
    border-radius: 1rem;
    margin-top: 20px;
}

.questionCard__number{
    font-size: 1.5rem;
    font-weight: 600;
}

.questionCard__question{
    margin: 25px 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.questionCard__options{
    margin-bottom: 20px;
}

.questionCard__options >button {
    /* color: red; */
    width: 90%;
    padding: 15px 0;
    cursor: pointer;
}


@media screen and (max-width: 500px) {
    .questionCard{
        margin: 20px 20px 0;
    }
}
 
